@import '../../../../../scss-imports';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #333;

  span {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid $color-palet-bluesky-primary;
  }
}
