<clr-main-container>

  <div class="aka-shadow">

    <clr-header class="aka-header">
    
      <section class="branding">
        <a class="nav-link">
          <clr-icon shape="certificate"></clr-icon>
          <span class="title">AKA</span>
        </a>
      </section>
    
      <section class="header-nav">
        <a href="#" class="nav-link active"><span class="nav-text">Mis cursos</span></a>
        <a href="#" class="nav-link"><span class="nav-text">Explorar</span></a>
      </section>
    
      <section class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="user" class="is-solid"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="help" class="is-solid"></clr-icon>
        </a>
      </section>
    
    </clr-header>
    
    <clr-header class="aka-header">
    
      <section class="header-nav">
        <a href="#" class="nav-link active"><span class="nav-text">Activos</span></a>
        <a href="#" class="nav-link"><span class="nav-text">En mi plan</span></a>
        <a href="#" class="nav-link"><span class="nav-text">Aprobados</span></a>
      </section>
    
      <section class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="search"></clr-icon>
        </a>
      </section>
    
    </clr-header>

  </div>

  <div class="content-container">

    <section class="content-area">

      <div
      *ngIf="showLogin"
      class="fullscreen-modal">
        <clr-icon shape="times" size="24" class="close"></clr-icon>

        <div class="login-layout">
          <aside class="promotional-banner">
            <img src="/assets/images/login-sidebar.jpg" alt="Sign In">
          </aside>

          <aside class="login-container">
            <div class="login-form">
              <div class="profile-picture">
                <img src="/assets/images/profile-mock.jpg" alt="User Name" class="circular">
              </div>
              
              <div class="external-signin">
                <div>
                  <h5>Entra con tu perfil</h5>
                  <hr>
                </div>
                <div class="btn-group btn-primary">
                  <button class="btn">Facebook</button>
                  <button class="btn">Twitter</button>
                  <button class="btn">GitHub</button>
                  <button class="btn">Google</button>
                </div>
              </div>
              
              <form clrForm>
                <div class="form-block">
                  <h5>O con tus datos</h5>
                  <hr>
                  <clr-input-container>
                    <label>Email</label>
                    <input clrInput type="text" [(ngModel)]="email" name="email" required />
                    <clr-control-error *clrIfError="'required'">El email es requerido para iniciar sesión</clr-control-error>
                  </clr-input-container>
                                
                  <clr-input-container>
                    <label>Contraseña</label>
                    <input clrInput type="password" [(ngModel)]="password" name="password" required />
                    <clr-control-error *clrIfError="'required'">El password es requerido para iniciar sesión</clr-control-error>
                  </clr-input-container>
                </div>
              
                <button class="btn btn-primary btn-block">Entrar</button>
              </form>
            </div>
          </aside>
        </div>

      </div>

    </section>

  </div>

</clr-main-container>
