.content-container {
  .content-area {
    padding-right: calc(1rem - 8px);
  }
}

:host-context(.path-rule-login) {
  .content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .content-area {
      padding: 0;
      background: #fff;
    }
  }
}