<clr-main-container>

  <aka-navigation
  class="aka-shadow"></aka-navigation>

  <div class="content-container">
    <section class="content-area">

      <router-outlet></router-outlet>

    </section>
  </div>

</clr-main-container>

<!-- <div
*ngIf="showLogin"
class="fullscreen-modal">
  <clr-icon shape="times"
  size="24"
  class="close"
  (click)="showLogin = false"></clr-icon> -->

  <!-- <div class="login-layout">
    <aside class="promotional-banner">
      <img src="/assets/images/login-sidebar.jpg" alt="Sign In">
    </aside>

    <aside class="login-container">
      <div class="login-form">
        <div class="profile-picture">
          <img src="/assets/images/profile-mock.jpg" alt="User Name" class="circular">
        </div>
        
        <div class="external-signin">
          <div>
            <h5>Entra con tu perfil</h5>
          </div>
          <div class="btn-group btn-primary">
            <button class="btn">Facebook</button>
            <button class="btn">Twitter</button>
            <button class="btn">GitHub</button>
            <button class="btn">Google</button>
          </div>
        </div>
        
        <hr>

        <form clrForm>
          <div class="form-block">
            <h5>O con tus datos</h5>
            <clr-input-container>
              <label>Email</label>
              <input clrInput type="text" [(ngModel)]="email" name="email" required />
              <clr-control-error *clrIfError="'required'">El email es requerido para iniciar sesión</clr-control-error>
            </clr-input-container>
                          
            <clr-input-container>
              <label>Contraseña</label>
              <input clrInput type="password" [(ngModel)]="password" name="password" required />
              <clr-control-error *clrIfError="'required'">El password es requerido para iniciar sesión</clr-control-error>
            </clr-input-container>
          </div>
        
          <button class="btn btn-primary btn-block">Entrar</button>
        </form>
      </div>
    </aside>
  </div> -->

<!-- </div> -->