$color-palet-red-primary: #C62828;
$color-palet-red-dark: #B71C1C;
$color-palet-red-light: #E53935;
$color-palet-red-lighter: #EF5350;
$color-palet-red-lighter-2: #EF9A9A;
$color-palet-red-lighter-3: #FFCDD2;

$color-palet-blue-primary: #1565C0;
$color-palet-blue-dark: #0D47A1;
$color-palet-blue-light: #1E88E5;
$color-palet-blue-lighter: #42A5F5;
$color-palet-blue-lighter-2: #90CAF9;
$color-palet-blue-lighter-3: #BBDEFB;

/* REPLACE COLORS HEXA FOR ORIGINALS */
$color-palet-bluesky-primary: #1565C0;
$color-palet-bluesky-dark: #0D47A1;
$color-palet-bluesky-light: #1E88E5;
$color-palet-bluesky-lighter: #42A5F5;
$color-palet-bluesky-lighter-2: #90CAF9;
$color-palet-bluesky-lighter-3: #BBDEFB;

/* REPLACE COLORS HEXA FOR ORIGINALS */
$color-palet-yellow-primary: #1565C0;
$color-palet-yellow-dark: #0D47A1;
$color-palet-yellow-light: #1E88E5;
$color-palet-yellow-lighter: #42A5F5;
$color-palet-yellow-lighter-2: #90CAF9;
$color-palet-yellow-lighter-3: #BBDEFB;

/* REPLACE COLORS HEXA FOR ORIGINALS */
$color-palet-orange-primary: #FF9800;
$color-palet-orange-dark: #EF6C00;
$color-palet-orange-light: #FB8C00;
$color-palet-orange-lighter: #FFA726;
$color-palet-orange-lighter-2: #FFCC80;
$color-palet-orange-lighter-3: #FFE0B2;

$background-color-primary: $color-palet-blue-dark;
$text-color-primary: #333333;