@import './scss-imports';

h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: 1em;
}
hr {
  width: 100%;
}
.aka-shadow {
  box-shadow: 0 0px 4px rgba(0,0,0,.5);
}

/* MODAL */
/* FULL SCREEN */
.fullscreen-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;

  clr-icon.close {
    position: absolute;
    z-index: 101;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
