@import './scss-imports';

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
  min-height: 40px;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

html {
  font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: .5em;
  margin-bottom: 1em;
}
hr {
  width: 100%;
}
.aka-shadow {
  position: relative;
  z-index: 100;
  box-shadow: 0 0px 4px rgba(0,0,0,.5);
}
