<h-title level="1">Continúa Viendo</h-title>

<section class="courses my-courses actives">

  <div class="card course">
    <div class="card-header">
      <h4>Introducción a la programación</h4>

      <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right">
        <clr-icon shape="bookmark" size="28" class="is-solid"></clr-icon>
        <clr-icon shape="bookmark" size="28"></clr-icon>
        <span class="tooltip-content">Agregar a mi plan</span>
      </span>
    </div>

    <div class="card-block">
      <div class="card-media-block">
        <!-- <img src="..." class="card-media-image"> -->
        <span class="card-media-image"></span>

        <div class="card-media-description">
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolores, aliquam, perferendis, aliquid sit quibusdam!</p>

          <div class="card-labels">
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right course-label dificult">
              <clr-icon shape="curve-chart" class="is-solid" size="18"></clr-icon>
              <span class="label-text">2/10</span>
              <span class="tooltip-content">Dificultad:<br>2 de 10</span>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right course-label rating">
              <clr-icon shape="star" class="is-solid" size="18"></clr-icon>
              <span class="label-text">5/5</span>
              <span class="tooltip-content">Valoración:<br>5 de 5</span>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right course-label is-free">
              <clr-icon shape="dollar" class="is-solid" size="18"></clr-icon>
              <span class="label-text">Gratis</span>
              <span class="tooltip-content">¡Este curso es gratuito!</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="progress success">
        <progress value="70" max="100"></progress>
      </div>
      <button class="btn btn-primary btn-sm">Continuar</button>

      <div class="course-teachers">
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right teacher">
          <img src="/assets/images/profile-mock.jpg" alt="Nombre Docente">
          <span class="tooltip-content">Nombre del docente</span>
        </span>
        <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-right teacher">
          <img src="/assets/images/profile-mock.jpg" alt="Nombre Docente">
          <span class="tooltip-content">Nombre del docente</span>
        </span>
      </div>
    </div>
  </div>

</section>